* {
  box-sizing: border-box; /* Ensure padding and borders are included in the element's total width and height */
}
.montserrat-uniquifier {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body {
  margin: 0;
  background-color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: bold;
}

.toggler {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-family: "Poppins";
  font-size: 22px;
}

.nav-links a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Media Queries */
@media (max-width: 768px) {
  .nav-links {
    display: none; /* Hide links initially */
    flex-direction: column;
    position: absolute;
    top: 60px; /* Adjust based on the navbar height */
    left: 0;
    right: 0;
    background-color: white;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .nav-links.active {
    display: flex; /* Show links when active */
  }

  .toggler {
    display: block; /* Show toggler button */
  }
}
